$sizeProjectAvatarSmall: 24px;
$sizeProjectAvatarDefault: 35px;
$sizeProjectAvatarLarge: 128px;

.project-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;

  width: $sizeProjectAvatarDefault;
  min-width: $sizeProjectAvatarDefault;
  height: $sizeProjectAvatarDefault;

  &.size-small {
    width: $sizeProjectAvatarSmall;
    min-width: $sizeProjectAvatarSmall;
    height: $sizeProjectAvatarSmall;
  }

  &.size-large {
    width: $sizeProjectAvatarLarge;
    min-width: $sizeProjectAvatarLarge;
    height: $sizeProjectAvatarLarge;
  }
}

.image {
  width: 100%;
}
