.user-row {
  display: flex;
  flex-direction: column;

  .header {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    position: sticky;
    left: 0;
    width: fit-content;
    
    .text {
      margin: 10px 0;
      font-size: 1.6rem;
    }

    .tasks {
      font-size: 1.4rem;
    }
  }

  .list {
    display: flex;

    & > * {
      margin: 0 6px;
    }
  }
}