@import "../../../../theme/variables.scss";
@import "../../../../theme/mixins.scss";

.project {
  transition: background-color .3s ease;

  &:hover {
    background-color: $colorBackgroundDark1;
  }
}

.cell {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 4px 8px;
}

.btn-block {
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: $colorStarNoted;
  transition: color .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    color: $colorStarNotedHover;
  }

  &.active {
    color: $colorStarNotedActive;
  }
}

.link-block {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $colorPrimary;
  width: fit-content;
  max-width: 100%;

  &:hover {
    text-decoration: underline;
  }

  .project-icon {
    border-radius: 5px;
    overflow: hidden;
  }

  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.menu-cell {
  overflow: visible;
}

.preloader {
  @include preloader-block();
}
