@import "../../../../../theme/variables.scss";
@import "../../../../../theme/mixins.scss";

.popup {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include mediaTablet {
    width: 400px;
    padding: 15px;
    gap: 15px;
  }

  @include mediaMobile {
    width: 300px;
    gap: 10px;
  }

  .title {
    font-size: 2rem;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    @include mediaMobile {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
    }
  }

  .description {
    font-size: 1.6rem;
  }

  .input-block,
  .select-block {
    width: 170px;
  }

  .buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
  }
}
