@import "../../../../theme/variables.scss";
@import "../../../../theme/mixins.scss";

.breadcrumb-list {
  display: flex;
  gap: 8px;
  color: $colorContentLight1;
  font-size: 1.4rem;
  font-weight: 400;

  @include mediaMobile {
    gap: 5px;
  }
}

.breadcrumb {
  .link:hover {
    text-decoration: underline;
  }
}
